zerobot/*
Perceptron/image.png
WavePlot/*.wav
WavePlot/waves/*.wav
*.pyc
settings.json
WavePlot/configs.json
mytorch/*
mytensor/*
YoutubeSub/data/*
YoutubeSub/audio.wav
YoutubeSub/sub.txt
data/*
features/*.pt
mel_features/*.pt
data_test/*.txt
mel_features_test/*.pt
YoutubeSub/ffmpeg/*
app/ui/config.json
data_test/XykhO1le0o0_013059580000.wav
requirements.txt
*.pt
*.pth
*DS_Store
